<%-include('includes/header.ejs')%>

<div class="container">
    <div class="error">
        <br><br>
        <h1>Oooops... Page you are looking for does not exist.</h1>
        <a href="/" class="btn">Back to site</a>
    </div>


</div>


<!-- Footer -->
<%-include('includes/footer.ejs') %>
</body>

</html>